# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
myenv/
.env/

# Ignore logs and outputs
logs/
output/
plots/

# Ignore csv files
*.csv

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore VS Code settings (if using VS Code)
.vscode/
